

.sidebar {
	position: fixed;
	width: 200px;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	margin: 10px 10px;
}


.sidebar h1 {
	flex-grow: 1;
	padding-left: 10px;
	font-size: 24px;
}

.pagecontent {
	margin-left: 200px;
}